[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
reuse = "==0.14.0"
twine = ">=4.0, <4.1"

[dev-packages.e1839a8]
path = "."
editable = true

[requires]
python_version = "3.8"
